body {
    margin: 0;
    background-color: lightblue;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 20px 30px;
    background-color: lightpink;
    border-radius: 10px;
    font-size: 25px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    border: 1px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    position: relative;
    overflow: hidden;
}

.btn span {
    position: relative;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    background-color: orangered;
    width: 0;
    height: 0;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
}

.btn:hover::before {
    width: 300px;
    height: 300px;
}